Source: libcpath
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config
Standards-Version: 4.1.4
Section: libs
Homepage: https://github.com/libyal/libcpath
Vcs-Git: https://github.com/libyal/libcpath.git

Package: libcpath
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libcpath1
Replaces: libcpath1
Suggests: libcpath-dbg
Description: Library to support cross-platform C path functions
 libcpath is a library to support cross-platform C path functions.

Package: libcpath-dbg
Architecture: any
Section: debug
Depends: libcpath (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libcpath
 Debugging symbols for libcpath.

Package: libcpath-dev
Section: libdevel
Architecture: any
Depends: libcpath (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libcpath
 Header files and libraries for developing applications for libcpath.

